{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  </head>

  <style>
    {% block extra_css %}
    {% endblock extra_css %}
  </style>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">MyWebsite</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">none</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">none</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">none</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login_page' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main content -->
    {% block content %}
    {% endblock content %}
    
    <!-- Popper JS -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
